name: IOST Notice Checker

on:
  schedule:
    - cron: "0 * * * *"   # hourly
  workflow_dispatch:

jobs:
  check_notice:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run checker
        run: python checker.py

      - name: Commit and push seen.txt using PAT
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add seen.txt
          git commit -m "Update seen.txt" || echo "No changes"
          git push https://${{ secrets.PAT_TOKEN }}@github.com/ghimbim/iost-notice-alert.git HEAD:main
